@{
    ViewData["Title"] = "Confirmação de apagar o contato";
}

<div class="text-center">

    <h3 class="display-4">Realmente deseja apagar o contato (nome do contato) definitivamente? </h3>
    <br />
</div>

<div class="d-grid gap-2">
    <a class="btn btn-success" role="button" asp-controller="Contato" asp-action="Index">Cancelar</a>
    <a class="btn btn-danger" role="button" asp-controller="Contato" asp-action="Apagar">Confirmar</a>
</div>