@{
    ViewData["Title"] = "Confirmação de apagar o contato";
}

<div class="text-center">

    <h3 class="display-4">Realmente deseja apagar o contato (nome do contato) definitivamente? </h3>
    <br />
</div>

<a class="btn btn-success" role="button">Cancelar</a>
<a class="btn btn-danger" role="button">Confirmar</a>