@{
    ViewData["Title"] = "Editar Contatos";
}

<div class="text-center">

    <h1 class="display-4">Editar contatos</h1>
    <br />
</div>

<form>
    <div class="mb-3">
        <label for="InputNome" class="form-label">Nome Completo</label>
        <input type="text" class="form-control" id="InputNome" placeholder="Digite o nome completo do contato" />
    </div>
    <div class="mb-3">
        <label for="InputEmail1" class="form-label">Endereço de E-mail</label>
        <input type="email" class="form-control" id="InputEmail1" placeholder="Digite o e-mail do contato" />
    </div>
    <div class="mb-3">
        <label for="InputTelefone" class="form-label">Telefone</label>
        <input type="tel" class="form-control" id="InputTelefone" placeholder="Digite o telefone do contato">
    </div>
    <button type="submit" class="btn btn-success">Alterar</button>
    <a class="btn btn-outline-secondary" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>

